<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="UTF-8">
    <title>Početna</title>
</head>
<body>
    <h1>Dobrodošli u Putovanja</h1>
    <p>Ulogovani ste kao: <%= prijavljeniKorisnik.ime_prezime_ili_naziv %> (<%= prijavljeniKorisnik.tip_korisnika %>)</p>
    <a href="/logout">Odjavi se</a>
</body>
</html>